# Python
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.ipynb_checkpoints/

# Node
node_modules/

# Large artifacts (keep small if you want)
*.joblib
*.pkl

# OS/IDE
.DS_Store
.idea/
.vscode/
