  GNU nano 7.2                                                  requirements.txt                                                           
python-dotenv
joblib
selenium
Django
pandas>=2.0
numpy
scikit-learn>=1.3
matplotlib>=3.7
seaborn>=0.12
natsort>=8.4
psycopg
boto3>=1.28






