{% include 'header.html' %}

<div class="container">
    Player: {{ player.name }} Age:{{ player.age }} Ranking: {{ player.ranking }}
</div>
<div class="container">
    Elo: {{elo}}
</div>

<div class="container">
    upcoming matches:
    <table class="table">
        <thead>
            <tr>
                <th>Match</th>
            </tr>
        </thead>
        <tbody>
            {% for match in upcoming_matches %}
                <tr>
                    <td><a href ="{% url 'tennis:match_features' match.id %}">{{ match }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}